@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    /* background:linear-gradient(to right, black, black), url(images/cover-img.jpeg); */
    background-image:
     /* linear-gradient(to right bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), */
      url(images/cover-img.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: 'Montserrat', sans-serif;
}
.show {
    display:flex;
}

.hide {
    display: none;
}

@font-face {
    font-family: "My Custom Font";
    src: url(RaphLanokFuture.ttf) format("truetype");
}
.customfont { 
    font-family: "My Custom Font", Verdana, Tahoma;
    line-height: 0;
}
/* .main{background-image:url(images/cover-img.webp);background-size:cover;background-repeat:no-repeat;background-position:bottom;font-family:Montserrat,sans-serif}.show{display:flex}.hide{display:none}@font-face{font-family:"My Custom Font";src:url(RaphLanokFuture.ttf) format("truetype")}.customfont{font-family:"My Custom Font",Verdana,Tahoma;line-height:0} */